.container {
  background: #1b1c25;
  font-family: Helvetica, sans-serif;

  @media screen and (min-width: 998px) {
    border-radius: 10px 10px 0 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;

  h2,
  label {
    color: #84eaba;
  }

  h2 {
    font-size: 2.5rem;
  }

  label {
    font-size: 1.5rem;
  }

  input {
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  input:last-of-type {
    height: 150px;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 50px;
  }

  button {
    width: 200px;
    height: 5rem;
    margin: 1rem auto 3rem;
    font-size: 2rem;
    font-weight: 700;
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    padding-bottom: 4rem;

    h2 {
      font-size: 3rem;
    }

    button {
      margin: 1rem 0 3rem;
    }
  }
}

.mobilewhats {
  display: flex;
  flex-direction: column;

  a,
  p {
    margin: 0 auto 1rem;
  }

  p {
    // font-family: 'Sacramento', cursive;
    // font-family: 'Dancing Script', cursive;
    font-family: 'Cookie', cursive;
    font-size: 3rem;
    font-style: italic;
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
}
