.container {
  background: #1b1c25;
  font-family: Helvetica, sans-serif;
  // border-radius: 0 0 5px 5px;

  // @media screen and (min-width: 768px) {
  //   h2 {
  //     margin: 10px 0;
  //     text-align: center;
  //     font-size: 32px;
  //   }
  // }
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;

  h2,
  label {
    color: #84eaba;
  }

  h2 {
    font-size: 2.5rem;
  }

  label {
    font-size: 1.3rem;
  }

  input {
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  input:last-of-type {
    height: 150px;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 50px;
  }

  button {
    width: 200px;
    height: 50px;
    margin: 10px auto 30px;
    font-size: 2rem;
    font-weight: 700;
  }

  @media screen and (min-width: 998px) {
    // label {
    //   margin: 0 0 0 300px;
    // }

    // input {
    //   width: 350px;
    // }
  }
}

.whats {
  display: flex;

  p {
    // font-family: 'Sacramento', cursive;
    font-family: 'Cookie', cursive;
    // font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    // font-weight: 600;
    font-style: italic;
    margin: 0 auto 15px;
    color: #fff;
  }
}
