.homecontainer {
  // border: 1px solid greenyellow;
  background: orange;
}

.intro {
  // border: 1px solid green;
  background: #6950ec;
  color: #fff;
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 4rem;
  display: flex;
  padding: 40px;

  img {
    width: 500px;
  }
}

.introdescription {
  border: 1px solid red;
}

.homeprojects {
  // border: 1px solid green;
  display: flex;
}

.homecontact {
  // border: 1px solid green;
  background: #949597;
}

.projectstyle {
  a {
    img {
      width: 300px;
    }
  }
}
