$font: Helvetica;

// INTRO
.intro {
  background: #1b1c25;
  color: #fff;
  font-family: $font;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  p,
  span {
    font-size: 2.5rem;
  }

  span {
    color: #84eaba;
  }

  button {
    width: 250px;
    height: 50px;
    background: #84eaba;
    color: #1b1c25;
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
    font-weight: 700;
    margin: 1rem auto;

    &:hover {
      background: #1b1c25;
      color: #84eaba;
      transition: 1s ease;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 3rem 9rem;

    p,
    span {
      font-size: 4rem;
    }

    img {
      width: 500px;
      align-self: center;
    }

    button {
      font-size: 1.8rem;
      height: 70px;
    }
  }

  @media screen and (min-width: 998px) {
    padding: 3rem 16rem;
    border-radius: 0 0 10px 10px;

    p,
    span {
    }
  }
}

// SERVICES
.services {
  font-family: $font;
  padding: 2rem;
  color: #1b1c25;

  h2 {
    width: fit-content;
    background-color: #84eaba;
    padding: 0.1rem 0.3rem;
    font-size: 2.5rem;

    // &:hover {
    //   background: #1b1c25;
    //   color: #84eaba;
    //   transition: 1s ease;
    // }
  }

  ul {
    padding: 0;
    list-style-type: none;
    font-size: 1.7rem;
  }

  img {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;

    h2,
    ul {
      margin-right: 1rem;
    }

    h2 {
      font-size: 3rem;
    }

    ul {
      font-size: 2rem;
    }

    img {
      display: flex;
      width: 400px;
    }
  }

  @media screen and (min-width: 998px) {
    justify-content: space-evenly;
    // padding: 10rem;

    ul {
      width: 270px;
    }
  }
}
